VITE_BACKEND_URL=https://messk.online
VITE_STUN_URLS=stun:stun.l.google.com:19302,stun:stun1.l.google.com:19302
VITE_TURN_URLS=turn:turn.example.com:3478,turns:turn.example.com:5349
VITE_TURN_USERNAME=turn-user
VITE_TURN_CREDENTIAL=turn-password
